= form_for @baby do |f|
  = f.label :name
  = f.text_field :name
  = f.label :weight
  = f.number_field :weight, step: 'any'
  = f.label :length
  = f.number_field :length, step: 'any'
  = f.submit
  
